.product-card {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    transition: 0.2s;
    height: 100%;
}

.product-card:hover {
    box-shadow: 0 0 12px rgba(0,0,0,.1);
}

.product-img {
    height: 200px;
    object-fit: contain;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 16px;
}
