{% extends "admin/index.html" %}
{% load i18n admin_urls static %}

{% block content %}
<div id="content-main">
    {% if app_list %}
        {% for app in app_list %}
            <div class="app-list">
                <h2>
                    <a href="{{ app.app_url }}">{{ app.name }}</a>
                </h2>
                <table summary="{{ app.name }}">
                    <caption class="module-table-caption">
                        {% if app.models %}
                            {{ app.models_count }} model{{ app.models_count|pluralize }}
                        {% endif %}
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Name" %}</th>
                            <th scope="col">{% trans "Changes" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for model in app.models %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <td>
                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                </td>
                                <td class="nowrap">
                                    {% if model.add_url %}
                                        <a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a>
                                    {% endif %}
                                    {% if model.change_url %}
                                        <a href="{{ model.change_url }}" class="changelink">{% trans 'Change' %}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}
