{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="max-width:400px;margin:60px auto;">
    <h2 style="text-align:center;">🔐 Đăng nhập</h2>

    <form method="post">
        {% csrf_token %}

        <div style="margin-bottom:15px;">
            <label>Tên đăng nhập</label>
            <input
                type="text"
                name="username"
                required
                class="form-control"
                placeholder="Nhập username">
        </div>

        <div style="margin-bottom:15px;">
            <label>Mật khẩu</label>
            <input
                type="password"
                name="password"
                required
                class="form-control"
                placeholder="Nhập mật khẩu">
        </div>

        <button type="submit" class="btn btn-primary" style="width:100%;">
            Đăng nhập
        </button>
    </form>
    <p>Chưa có tài khoản? <a href="/register/">Đăng ký</a></p>

</div>
{% endblock %}
