{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height:70vh;">
    <div style="width:360px;">

        <h3 class="text-center mb-4">
            📝 Đăng ký
        </h3>

      <form method="post" action="{% url 'register' %}">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Nhập username"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input
                    type="password"
                    name="password1"
                    class="form-control"
                    placeholder="Nhập mật khẩu"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Nhập lại mật khẩu</label>
                <input
                    type="password"
                    name="password2"
                    class="form-control"
                    placeholder="Nhập lại mật khẩu"
                    required>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Đăng ký
            </button>
        </form>

        <div class="text-center mt-3">
            Đã có tài khoản?
            <a href="{% url 'login' %}">Đăng nhập</a>
        </div>

    </div>
</div>
{% endblock %}
